<div style="width: 100%; height: 100%;background-position:center top;background-repeat:no-repeat;background-attachment:scroll;background-image:url('http://www.travianportugal.org/finalservidor/bg.jpg');background-color:#FFFFFF;">

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:219px;background-image:url('http://www.travianportugal.org/finalservidor/travian01.png');">
		<p style="color: #FFFFFF; font-size:40px;padding-top:35px;padding-left: 290px" >$servidor$</p>
		<p style="font-weight:bold;color: #FFFFFF;padding-top:75px;padding-left: 40px" >Este servidor teve a duração de $duracao$ dias ($inicio$ - $fim$)</p>
	</div>

	<div style="padding:10px;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 676px;height:auto;background-color:#E2E2E2; background-image:url('http://www.travianportugal.org/finalservidor/ww.png');background-position:15px 25px;background-repeat:no-repeat;">
		<p align="center"><img src="http://www.travianportugal.org/finalservidor/foguetes.gif" /></p><br /><br /><br /><br />
		$msg$
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:302px;background-image:url('http://www.travianportugal.org/finalservidor/ven.png');">
    	<p style="padding-top:88px;font-weight:bold;padding-left: 300px" >%ww_1_1%</p>
    	<p style="padding-top:12px;font-weight:bold;padding-left: 305px" >%ww_1_3%</p>
    </div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/ww121.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%ww_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="width: 280px; text-align: center; background-color: #A2C52E;" ><strong>Nome</strong></td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Aliança</strong></td>
				<td style="width: 60px; text-align: center; background-color: #A2C52E;" ><strong>Nivel</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%ww_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%ww_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%ww_1_3%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%ww_1_4%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%ww_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_2_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_2_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%ww_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_3_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_3_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%ww_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_4_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_4_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%ww_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_5_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%ww_5_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%ww_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_6_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_6_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%ww_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_7_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_7_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%ww_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_8_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_8_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%ww_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_9_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_9_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%ww_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_10_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%ww_10_4%</td>
			</tr>
		</table>
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/maior1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%jogadores_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Aliança</strong></td>
				<td style="width: 120px; text-align: center; background-color: #A2C52E;" ><strong>População</strong></td>
				<td style="width: 90px; text-align: center; background-color: #A2C52E;" ><strong>Aldeias</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%jogadores_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%jogadores_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%jogadores_1_3%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%jogadores_1_4%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%jogadores_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_2_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_2_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%jogadores_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_3_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_3_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%jogadores_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_4_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_4_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%jogadores_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_5_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%jogadores_5_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%jogadores_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_6_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_6_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%jogadores_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_7_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_7_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%jogadores_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_8_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_8_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%jogadores_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_9_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_9_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%jogadores_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_10_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%jogadores_10_4%</td>
			</tr>
		</table>
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/atacantes1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%atacantes_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>População</strong></td>
				<td style="width: 110px; text-align: center; background-color: #A2C52E;" ><strong>Aldeais</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>Pontos</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%atacantes_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%atacantes_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%atacantes_1_3%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%atacantes_1_4%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%atacantes_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_2_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_2_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%atacantes_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_3_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_3_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%atacantes_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_4_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_4_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%atacantes_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_5_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%atacantes_5_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%atacantes_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_6_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_6_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%atacantes_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_7_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_7_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%atacantes_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_8_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_8_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%atacantes_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_9_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_9_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%atacantes_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_10_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%atacantes_10_4%</td>
			</tr>
		</table>
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/defensores1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%defensores_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>População</strong></td>
				<td style="width: 110px; text-align: center; background-color: #A2C52E;" ><strong>Aldeias</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>Pontos</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%defensores_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%defensores_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%defensores_1_3%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%defensores_1_4%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%defensores_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_2_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_2_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%defensores_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_3_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_3_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%defensores_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_4_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_4_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%defensores_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_5_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%defensores_5_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%defensores_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_6_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_6_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%defensores_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_7_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_7_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%defensores_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_8_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_8_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%defensores_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_9_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_9_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%defensores_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_10_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%defensores_10_4%</td>
			</tr>
		</table>
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/aliancas1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%aliancas_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Aliança</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>Jogadores</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>Ø</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>Pontos</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%aliancas_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%aliancas_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%aliancas_1_3%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%aliancas_1_4%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aliancas_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_2_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_2_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aliancas_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_3_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_3_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aliancas_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_4_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_4_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aliancas_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_5_3%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aliancas_5_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aliancas_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_6_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_6_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aliancas_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_7_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_7_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aliancas_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_8_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_8_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aliancas_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_9_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_9_4%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aliancas_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_10_3%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aliancas_10_4%</td>
			</tr>
		</table>
	</div>

	<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/aldeias1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%aldeias_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Aldeia</strong></td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="width: 140px; text-align: center; background-color: #A2C52E;" ><strong>População</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%aldeias_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%aldeias_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%aldeias_1_3%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aldeias_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_2_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aldeias_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_3_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aldeias_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_4_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%aldeias_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%aldeias_5_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aldeias_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_6_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aldeias_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_7_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aldeias_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_8_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aldeias_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_9_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%aldeias_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%aldeias_10_3%</td>
			</tr>
		</table>
	</div>

		<div style="margin-left: auto;margin-right: auto;width: 700px; height:122px;background-image:url('http://www.travianportugal.org/finalservidor/heroi1.png');">
		<p style="font-size:16px;font-weight:bold;padding-top:69px;padding-left: 90px" >%herois_1_1%</p>
	</div>

	<div style="border-bottom: 2px solid #000000;border-right:2px solid #000000;border-left:2px solid #000000;margin-left: auto;margin-right: auto;width: 694px;height:auto;background:#FFFFFF">
		<table align="center" style="margin:0;width: 100%; height: 300px;">
			<tr>
				<td style="width: 37px; background-color: #A2C52E;" class="auto-style1">&nbsp;</td>
				<td style="text-align: center; background-color: #A2C52E;" ><strong>Jogador</strong></td>
				<td style="width: 120px; text-align: center; background-color: #A2C52E;" ><strong>Nível</strong></td>
				<td style="width: 150px; text-align: center; background-color: #A2C52E;" ><strong>Experiência</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #CAC656;">1</td>
				<td style="text-align: center; background-color: #CAC656"><strong>%herois_1_1%</strong></td>
				<td style="background-color: #CAC656; text-align: center;"><strong>%herois_1_2%</strong></td>
				<td style="text-align: center; background-color: #CAC656"><strong>%herois_1_3%</strong></td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">2</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_2_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%herois_2_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_2_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">3</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_3_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%herois_3_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_3_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">4</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_4_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%herois_4_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_4_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #C2CAAA;">5</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_5_1%</td>
				<td style="background-color: #C2CAAA; text-align: center;">%herois_5_2%</td>
				<td style="text-align: center; background-color: #C2CAAA">%herois_5_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">6</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_6_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%herois_6_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_6_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">7</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_7_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%herois_7_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_7_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">8</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_8_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%herois_8_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_8_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">9</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_9_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%herois_9_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_9_3%</td>
			</tr>
			<tr>
				<td style="width: 37px; text-align: center; background-color: #E7F0CA;">10</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_10_1%</td>
				<td style="background-color: #E7F0CA; text-align: center;">%herois_10_2%</td>
				<td style="text-align: center; background-color: #E7F0CA">%herois_10_3%</td>
			</tr>
		</table>
	</div>

</div>